body{
    background: url(/images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}
.main-inner,.header-inner{
    background:rgba(255,255,255,0.8)
}